/*font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
*/
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{
	clear: both;
}

#contenidos{
	width:1000px;
	height: auto;
	margin: auto;
	position:left-side;
	
}


body{
	background-image:url(../img/fondo1unad.jpg); 
	background-repeat:no-repeat;
	background-size:cover;
	
}
.titulo1{
	font-family: 'Libre Franklin', sans-serif;
	margin-top: 10px;
	font-size:30px;
	text-align:center;
	color: #006680
}
.titulo2{
	font-family: 'Libre Franklin', sans-serif;
	margin-top: 10px;
	font-size:30px;
	text-align:center;
	color: #FF5900
}
h2{
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	font-size:20px;
	text-align:center;
	color: #F2B80D
}

h3{
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	font-size:16px;
	text-align:center;
	color: #006680
}
header{
	color: white;
	width:1000px;
	height:175px;
	background: white;
	position:relative;
	margin: 10 px;
	}

p{
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	font-size:16px;
	text-align:justify;
	color: white;
}
	
		
	nav{
	
	width:1000px;
	height:40px;
	background: white;
	padding: 7px;
	font-family:  'Oswald', sans-serif;
   	border-radius: 10px;
}
	
ul{
	margin:auto;
	padding-top:2px;
	
	}	
	
 li{
float: left;		
list-style-type:none;
padding:4px;
margin:-1px;
border-radius: 20px;
box-shadow: 0 0 10 px #F2B80D inset;

	}
	
figure{

	position:center;	
}	
	
	/*CLASES*/ 
	
	.logo {

float: right;


}
	
.ancho_menu_home{width: 900px;}
.ancho_menupaginas{width:970px;}

.menu:link{padding: 7px; color: white; text-decoration: none;}
.menu:visited{padding: 7px; color:white ; text-decoration: none;}
.menu:hover{padding: 7px; color:white; text-decoration: none; text-shadow:0 0 10px #F2B80D;}
.menu ul li.active a{padding: 7px; color:white; text-decoration:none; box-shadow:0 -84px 0 #006680 inset;}
.menu ul li.active a:hover{
	padding: 7px; 
	color:white; 
	text-decoration:none; 
	box-shadow:0 -84px 0 #F2B80D inset;
	}
	
footer{
	position: relative;
	width:1200px;
    margin: auto;
    height: 100px;
    background-color: #006680;
    color: #ffffff;
    text-align:center; 
}​
